// Specific CSS for your home-page
.device{
	border: 1px solid #aaa;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #aaa;
	width: 300px;
	margin: 10px 0;

	.percentage{
		border-top: 1px solid #bbb;
		width: 90%;
		padding: 5px;
	}
}
.style-props{
	display: flex;
	justify-content: space-evenly;
}

.select-text{
	margin: 10px auto;
}
.btn{
  background-image: linear-gradient(-180deg, #fff 20%, #F5F5F5 80%);
  color: #333333 !important;
  border: .5px solid #D5D5D5;
  text-decoration: none;
}
.device-list{
	background: #eee;
	box-shadow: 1px 1px 1px #ddd;
}
.device-container{
	display: flex;
	justify-content: center;
}
.devices-input{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.devices-input{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.btn-search{
	width: 300px;
	margin: 0 auto;
}